<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">
      List of Users
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <app-button-action
          (onAdd)="createPg()"
          (onExport)="export()"
          [exporting]="exporting"
          [disableExporting]="loading || exporting"
        ></app-button-action>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tìm kiếm" (input)="changeList($event.target.value)">
        </mat-form-field>
      </div>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort class="table-responsive">
      <!-- <ng-container matColumnDef="idSearch">
        <mat-header-cell *matHeaderCellDef>
          <input type="text" class="form-control w-100" [(ngModel)]="filter._id_contains" (ngModelChange)="changeList()"/>
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="usernameSearch">
        <mat-header-cell *matHeaderCellDef>
          <input type="text" class="form-control w-100" [(ngModel)]="filter.username_contains" (ngModelChange)="changeList()"/>
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="nameSearch">
        <mat-header-cell *matHeaderCellDef>
          <input type="email" class="form-control w-100" [(ngModel)]="filter.name_contains" (ngModelChange)="changeList()"/>
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="emailSearch">
        <mat-header-cell *matHeaderCellDef>
          <input type="email" class="form-control w-100" [(ngModel)]="filter.email_contains" (ngModelChange)="changeList()"/>
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="roleSearch">
        <mat-header-cell *matHeaderCellDef>
          <div class="form-group w-100">
            <select class="form-control w-100" id="exampleSelect1" [(ngModel)]="filter.role" (ngModelChange)="changeList()">
             <option *ngFor="let role of ['PG', 'Admin']" [value]="role">{{role}}</option>
            </select>
           </div>
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="actionSearch">
        <mat-header-cell *matHeaderCellDef class="justify-content-end">
          <button mat-raised-button class="btn-secondary mb-1" (click)="clearFilter()">
            <div class="d-flex align-items-center justify-content-center">
              <span>Xóa</span>
              <span class="material-icons ml-2">clear</span>
            </div>
          </button>
        </mat-header-cell>
      </ng-container> -->


      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.username }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fullname </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.role }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.mobile }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="justify-content-end">Action</mat-header-cell>
        <mat-cell *matCellDef="let element" class="justify-content-end">
          <ng-container>
            <button mat-icon-button color="primary" (click)="update(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deletePg(element.id)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- <mat-header-row *matHeaderRowDef="displayedSearchColumns"></mat-header-row> -->
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [pageSize]="filter.pageSize"
    [pageIndex]="filter.page" (page)="onPageChange($event)">

    </mat-paginator>
  </div>
</div>