<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">
      List Of Categories
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <button mat-raised-button color="primary" [class.spinner]="exporting" (click)="export()" [disabled]="loading || exporting">
          <span class="material-icons">vertical_align_bottom</span>Export
        </button>
        <button mat-raised-button color="accent" class="ml-2" (click)="createPg()">
          <span class="material-icons">add</span>Add Category
        </button>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tìm kiếm" [(ngModel)]="filter.name_contains" (ngModelChange)="changeList()">
        </mat-form-field>
      </div>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort class="table-responsive">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pg_products">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Number of Products </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.pg_products }} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="justify-content-end">Action</mat-header-cell>
        <mat-cell *matCellDef="let element" class="justify-content-end">
          <ng-container>
            <button mat-icon-button color="primary" (click)="update(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deletePg(element.id)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [(pageSize)]="filter.pageSize"
    [(pageIndex)]="filter.page" (page)="onPageChange($event)">

    </mat-paginator>
  </div>
</div>
