<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">
      Competitor Reports
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <button mat-raised-button color="primary" [class.spinner]="exporting" (click)="export()" [disabled]="loading || exporting">
          <span class="material-icons">vertical_align_bottom</span>Export
        </button>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <app-filter (onFilterData)="onFilterData($event)"></app-filter>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.startDate_ }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="outlet">
        <mat-header-cell *matHeaderCellDef mat-sort-header> OutletName </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.outlet }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NNA Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.user }} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nhóm </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.region }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Thành Phố </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.city }} </mat-cell> -->
      <!-- </ng-container> -->
      <!-- <ng-container matColumnDef="outlet">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Outlet </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.outlet }} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="images">
        <!-- <mat-header-cell *matHeaderCellDef mat-sort-header> Photo </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="viewImage(element.images, 'Photo')" *ngIf="element.images && element.images.length">
            <mat-icon aria-label="Photo" inline="true" class="map-icon">remove_red_eye</mat-icon>
          </button>
        </mat-cell> -->
        <th mat-header-cell *matHeaderCellDef width ="10%" mat-sort-header> Photo </th>
        <td mat-cell *matCellDef="let element" width ="10%">
          <button mat-icon-button color="primary" (click)="viewImage(element.images_, 'Photo')" *ngIf="element.images && element.images.length">
            <mat-icon aria-label="Photo" inline="true" class="map-icon">remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="program">
        <!-- <mat-header-cell *matHeaderCellDef mat-sort-header> Program </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.program }} </mat-cell> -->
        <th mat-header-cell *matHeaderCellDef width ="30%" mat-sort-header> Program </th>
        <td mat-cell *matCellDef="let element" width ="30%"> {{element.program_}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="justify-content-end">Action</mat-header-cell>
        <mat-cell class="justify-content-end" *matCellDef="let element">
          <ng-container>
            <button mat-icon-button color="primary" (click)="modify(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteItem(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ngày bắt đầu </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.startDate }} </mat-cell>
      </ng-container> -->

      <!-- <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ngày kết thúc </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.endDate }} </mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <div [hidden]="hidePagination">
      <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [pageSize]="filter.pageSize"
      [pageIndex]="filter.page" (page)="onPageChange($event)">
  
      </mat-paginator>
    </div>
  </div>
</div>
