<button mat-raised-button color="primary" (click)="onDownloadTemplate.emit()">
    <span class="material-icons">vertical_align_bottom</span>Template
</button>
<button mat-raised-button color="primary" class="ml-2" (click)="importFile.click()">
    <span class="material-icons">vertical_align_top</span>Import
</button>
<button mat-raised-button color="primary" class="ml-2" [class.spinner]="exporting" (click)="onExport.emit()"
    [disabled]="disableExporting">
    <span class="material-icons">vertical_align_bottom</span>Export
</button>
<button mat-raised-button color="accent" class="ml-2" (click)="onAdd.emit()">
    <span class="material-icons">add</span>Add Product
</button>

<input type="file" id="uploadFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="onFileSelected($event)" style="display: none" #importFile />
