<h2 mat-dialog-title>{{title}}</h2>
<form class="example-form" [formGroup]="pgManagementForm" (submit)="createPg()">
  <div class="loading" *ngIf="loading">
    <div class="loading-container">
      <svg class="splash-spinner" viewBox="0 0 50 50">
        <circle
          class="path"
          cx="25"
          cy="25"
          r="20"
          fill="none"
          stroke-width="5"
        ></circle>
      </svg>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Fullname" formControlName="name">
          <mat-error *ngIf="pgManagementForm.controls['name'].hasError('required')">
            Fullname is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Select Role" formControlName="role">
            <mat-option *ngFor="let role of ['PG', 'Admin']" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="pgManagementForm.controls['role'].hasError('required')">
            Role is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="username">
          <mat-error *ngIf="pgManagementForm.controls['username'].hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password" type="password">
          <mat-error *ngIf="pgManagementForm.controls['password'].hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="pgManagementForm.controls['email'].hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile" formControlName="mobile">
          <mat-error *ngIf="pgManagementForm.controls['mobile'].hasError('pattern')">
            Mobile is invalid
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" cdkFocusInitial>{{data && data.type === 'update' ? 'Update' : 'Create'}}</button>
  </mat-dialog-actions>
</form>