<h2 mat-dialog-title>{{title}}</h2>
<form class="example-form" [formGroup]="pgManagementForm" (submit)="createPg()">
  <div class="loading" *ngIf="loading">
    <div class="loading-container">
      <svg class="splash-spinner" viewBox="0 0 50 50">
        <circle
          class="path"
          cx="25"
          cy="25"
          r="20"
          fill="none"
          stroke-width="5"
        ></circle>
      </svg>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="pgManagementForm.controls['name'].hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Target" formControlName="target">
          <mat-error *ngIf="pgManagementForm.controls['target'].hasError('pattern')">
            Target is invalid
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Select Customer" formControlName="group">
            <mat-option *ngFor="let group of groups" [value]="group">
              {{ group }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="pgManagementForm.controls['group'].hasError('required')">
            Customer is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Region" formControlName="region">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Latitude" formControlName="latitude">
          <mat-error *ngIf="pgManagementForm.controls['latitude'].hasError('required') || pgManagementForm.controls['latitude'].hasError('pattern')">
            Latitude is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Longitude" formControlName="longitude">
          <mat-error *ngIf="pgManagementForm.controls['longitude'].hasError('required') || pgManagementForm.controls['longitude'].hasError('pattern')">
            Longitude is invalid
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Select City" formControlName="city">
            <mat-option *ngFor="let city of cities" [value]="city">
              {{ city }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="pgManagementForm.controls['city'].hasError('required')">
            City is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="District" formControlName="district">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ward" formControlName="ward">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Address" formControlName="address">
          <mat-error *ngIf="pgManagementForm.controls['address'].hasError('required')">
            Address is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" cdkFocusInitial>{{ data && data.type === 'create' ? 'Create' : 'Update'}}</button>
  </mat-dialog-actions>
</form>