<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">
      List Of Locations
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <app-button-action
          (onAdd)="createPg()"
          (onExport)="export()"
          [exporting]="exporting"
          [disableExporting]="loading || exporting"
        ></app-button-action>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tìm kiếm" (input)="changeSearch($event.target.value)">
        </mat-form-field>
      </div>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width ="10%"> Address</th>
        <td mat-cell *matCellDef="let element" width ="10%">
          {{ element.address }}
        </td>

        <!-- <mat-header-cell *matHeaderCellDef mat-sort-header> Address</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.address }}
        </mat-cell> -->
      </ng-container>
      <ng-container matColumnDef="ward">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width ="10%"> Ward</th>
        <td mat-cell *matCellDef="let element" width ="10%">
          {{ element.ward }}
        </td>

      </ng-container>
      <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width ="10%"> District</th>
        <td mat-cell *matCellDef="let element" width ="10%">
          {{ element.district }}
        </td>

      </ng-container>
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width ="80px"> Location</th>
        <td mat-cell *matCellDef="let element" width ="80px">
          <button mat-icon-button color="primary" (click)="openMap(element.location)" *ngIf="element.location">
            <mat-icon aria-label="GPS" inline="true" class="map-icon">place</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="target">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Target </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.target | formatCurrency:true }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.group }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.city }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Region </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.region }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="justify-content-end">Action</mat-header-cell>
        <mat-cell class="justify-content-end" *matCellDef="let element">
          <ng-container>
            <button mat-icon-button color="primary" (click)="modifyPg(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deletePg(element.id)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- <mat-header-row *matHeaderRowDef="displayedSearchColumns"></mat-header-row> -->
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [pageSize]="filter.pageSize"
    [pageIndex]="filter.page" (page)="onPageChange($event)">

    </mat-paginator>
  </div>
</div>