<h2 mat-dialog-title>{{title}}</h2>
<!-- <form class="example-form" [formGroup]="pgManagementForm"> -->
  <mat-dialog-content class="mat-typography" class="example-form" [formGroup]="pgManagementForm">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Promotion Name" formControlName="name" [(ngModel)]="data.data.name">
          <mat-error *ngIf="pgManagementForm.controls['name'].hasError('required')">
            Promotion name is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="pickerFrom" placeholder="Start Date (MM/dd/yyyy)" formControlName="start"
          [(ngModel)]="data.data.start" readonly
          (dateChange)="dateChanged()"
          >
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
            <mat-error *ngIf="pgManagementForm.controls['start'].hasError('required')">
              End Date is required
            </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="data.data.end"
          matInput [matDatepicker]="pickerTo" placeholder="End Date (MM/dd/yyyy)" formControlName="end"
          readonly (dateChange)="dateChanged()">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
            <mat-error *ngIf="pgManagementForm.controls['end'].hasError('required')">
              End Date is required
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label id="example-radio-group-label">Promotion Type</label>
        <br>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="data.data.promotionType"
          [ngModelOptions]="{standalone: true}"
          (change)="changePromotionType()"
          >
          <mat-radio-button class="example-radio-button" *ngFor="let type of promotionTypes" [value]="type.value">
            {{type.label}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-6 col-sm-12" *ngIf="data.data.promotionType === 'discount'">
        <label id="example-radio-group-label">  </label>
        <mat-form-field class="example-full-width">
          <input placeholder="Discount(%)" type="number" min="0"
            [(ngModel)]="data.data.discount" formControlName="discount" matInput/>
          <mat-error *ngIf="pgManagementForm.controls['discount'].hasError('required')">
            Discount is required
          </mat-error>
          <mat-error *ngIf="pgManagementForm.controls['discount'].hasError('pattern')">
            Discount is invalid
          </mat-error>
          <mat-error *ngIf="pgManagementForm.controls['discount'].hasError('max')">
            Discount is greater than 100%
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field class="example-chip-list example-full-width">
          <mat-label>Products</mat-label>
          <mat-chip-list #chipList aria-label="Products">
            <mat-chip
              *ngFor="let product of fruits"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(product)">
              {{product.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              #fruitInput
              [formControl]="fruitCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
          </mat-chip-list>
          <mat-autocomplete #auto (optionSelected)="selected($event)">
            <mat-option *ngFor="let fruit of filteredFruits" [value]="fruit">
              {{fruit.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div> -->
    <br>
    <p><strong>Products</strong></p>
    <div class="row">
      <div class="col-md-6 col-sm-8">
        <mat-form-field class="example-full-width">
          <mat-label>Product</mat-label>
          <input type="text"
                 placeholder="Search product"
                 aria-label="Number"
                 matInput
                 #productInput
                 [value]="productSelect ? productSelect.name : ''"
                 (input)="filterProductSelected($event)"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectProduct($event)">
            <mat-option *ngFor="let fruit of filteredFruits" [value]="fruit">
              {{fruit.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-sm-4">
        <button mat-icon-button color="primary" title="Add new product" [disabled]="!productSelect" (click)="addProduct()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </div>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort class="table-responsive promotion-create">
      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.code }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef width ="110px"> Action </th>
        <td mat-cell *matCellDef="let element" width ="110px">
          <ng-container>
            <button mat-icon-button color="warn" (click)="remove(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

  </mat-dialog-content>
<!-- </form> -->
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button type="submit" cdkFocusInitial (click)="createPg()">{{buttonTitle}}</button>
</mat-dialog-actions>
