<div class="card card-custom example example-compact gutter-b">
    <div class="card-header">
      <div class="card-title">
        List Of Promotions
      </div>
      <div class="card-toolbar">
        <div class="example-tools justify-content-center">
          <button mat-raised-button color="primary" [class.spinner]="exporting" (click)="export()" [disabled]="loading || exporting">
            <span class="material-icons">vertical_align_bottom</span>Export
          </button>
          <button mat-raised-button color="accent" class="ml-2" (click)="create()">
            <span class="material-icons">add</span>Add Promotion
          </button>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <div class="loading" *ngIf="loading">
        <div class="loading-container">
          <svg class="splash-spinner" viewBox="0 0 50 50">
            <circle
              class="path"
              cx="25"
              cy="25"
              r="20"
              fill="none"
              stroke-width="5"
            ></circle>
          </svg>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tìm kiếm" [(ngModel)]="filter.name_contains" (ngModelChange)="changeSearch()">
          </mat-form-field>
        </div>
      </div>
      <mat-table #table [dataSource]="dataSource" matSort class="table-responsive">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="products">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Products </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <ul style="padding-left: 14px;">
                  <li *ngFor="let product of element.pg_products">
                    {{product.name}}
                  </li>
              </ul>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <span class="type-style" [style]="
                {'background-color': element.promotionType === 'discount' ? '#c9f7f5' : '#e1f0ff',
                'color': element.promotionType === 'discount' ? '#1bc5bd' : '#3699ff'
                }"
            >{{ displayType(element.promotionType) }}</span>
            </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="discount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Discount(%) </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.promotionType === 'discount' ? element.discount : '' }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.startDate }} </mat-cell>
        </ng-container>
  
        
        <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.endDate }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef width ="110px"> Action </th>
          <td mat-cell *matCellDef="let element" width ="110px">
            <ng-container>
              <button mat-icon-button color="primary" (click)="update(element)">
                <mat-icon aria-label="Example icon-button with a heart icon">list</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deletePg(element.id)">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
  
      <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [pageSize]="filter.pageSize"
      [pageIndex]="filter.page" (page)="onPageChange($event)">
  
      </mat-paginator>
    </div>
  </div>
  