.example-full-width {
    width: 100%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-width: none;
    border-bottom-style: none;
}

::placeholder {
    margin-left: 10px;
}

a.product-quantiy {
    color: #3699ff;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.type-style {
    padding: .375rem .75rem;
    border-radius: .25rem;
}
