<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">
      NNA Worklogs
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <button mat-raised-button color="primary" [class.spinner]="exporting" (click)="export()" [disabled]="loading || exporting">
          <span class="material-icons">vertical_align_bottom</span>Export
        </button>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <app-filter (onFilterData)="onFilterData($event)"></app-filter>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NNA/User </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.username }} </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NNA </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.user }} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="outlet">
        <!-- <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.outlet }}
        </mat-cell> -->
        <th mat-header-cell *matHeaderCellDef width ="15%"> Location</th>
        <td mat-cell *matCellDef="let element" width ="15%">
          {{ element.outlet }}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef width ="80px"> Position </th>
        <td mat-cell *matCellDef="let element" width ="80px">
          <button mat-icon-button color="primary" (click)="openMap(element.address)">
            <mat-icon aria-label="GPS" inline="true" class="map-icon">place</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Checkin Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.startDate }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startHour">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Checkin Time </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.startHour }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Checkout Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.endDate }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endHour">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Checkout Time </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.endHour }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="workingTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Working Time </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.workingSheet }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="outletImage">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Outlet Photo </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img [src]="element.outletImage" *ngIf="element.outletImage" alt="" class="image-css" (click)="viewImage(element.outletImage, 'Outlet Photo')">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userImage">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NNA/User Photo </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img [src]="element.userImage" *ngIf="element.userImage" alt="" class="image-css m-2" (click)="viewImage(element.userImage, 'NNA/User Photo')">
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <div [hidden]="hidePagination">
      <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [pageSize]="filter.pageSize"
      [pageIndex]="filter.page" (page)="onPageChange($event)">
  
      </mat-paginator>
    </div>
  </div>
</div>
