.example-full-width {
    width: 100%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-width: none;
    border-bottom-style: none;
}

::placeholder {
    margin-left: 10px;
}

:host {
    .map-icon {
        transform: scale(1.5);
    }
  }
img {
    cursor: pointer;
}