<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">
      Lot Date Reports
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <button mat-raised-button color="primary" [class.spinner]="exporting" (click)="export()" [disabled]="loading || exporting">
          <span class="material-icons">vertical_align_bottom</span>Export
        </button>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <app-filter (onFilterData)="onFilterData($event)" [showBrand]="false"></app-filter>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="outlet">
        <mat-header-cell *matHeaderCellDef mat-sort-header> OutletName </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.outlet }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.region}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef> ProductName </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.product}}
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.category}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.brand}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="expiredDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ExpiredDate </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.expiredDate_ }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reportDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.reportDate_ }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef width ="80px"> Action</th>
        <td mat-cell *matCellDef="let element" width ="80px">
          <ng-container>
            <button mat-icon-button color="primary" (click)="modify(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <div [hidden]="hidePagination">
      <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [pageSize]="filter.pageSize"
      [pageIndex]="filter.page" (page)="onPageChange($event)">
  
      </mat-paginator>
    </div>
  </div>
</div>
