<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">
      Sale Report By Outlet
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <button *ngIf="!isShowingDetail" mat-raised-button color="primary" [class.spinner]="exporting" (click)="export()" [disabled]="loading || exporting">
          <span class="material-icons">vertical_align_bottom</span>Export
        </button>
        <button *ngIf="isShowingDetail" mat-raised-button color="primary" (click)="back()" title="Back to Sale Report list">
          <span class="material-icons">keyboard_backspace</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive" [hidden]="isShowingDetail">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <app-filter (onFilterDataWithMoreInfo)="onFilterData($event)"></app-filter>
    <mat-table #table [dataSource]="dataSource" matSort class="sale-report-table">
      <ng-container matColumnDef="saleTarget">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sales Target </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index" [ngClass]="{'first': i === 0}">
           {{ element.saleTarget }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actual">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Actual </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index" [ngClass]="{'first': i === 0}"> {{ element.actual }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="percent">
        <th mat-header-cell *matHeaderCellDef width ="80px"> % Target </th>
        <td mat-cell *matCellDef="let element" width ="80px">
          {{ element.percent }}
        </td>
      </ng-container>

      <ng-container matColumnDef="outlet">
        <th mat-header-cell *matHeaderCellDef width ="20%"> Outlet/SuperMarket </th>
        <td mat-cell *matCellDef="let element" width ="20%">
          {{ element.outlet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <ng-container>
            {{element.group}}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reach">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reach </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index" [ngClass]="{'first': i === 0}">
          {{ element.reach}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="buyer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Buyers </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index" [ngClass]="{'first': i === 0}">
          {{ element.buyer}}
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index" [ngClass]="{'first': i === 0}">
          {{ element.createdAt}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="justify-content-end">Action</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index" class="justify-content-end">
          <ng-container *ngIf="i !== 0">
            <button mat-icon-button color="primary" (click)="viewDetail(element)" title="View detail">
              <mat-icon aria-label="Example icon-button with a heart icon">list</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteSaleReport(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <div [hidden]="hidePagination">
      <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [pageSize]="filter.pageSize"
      [pageIndex]="filter.page" (page)="onPageChange($event)">
  
      </mat-paginator>
    </div>
  </div>
  <div class="card-body table-responsive" *ngIf="isShowingDetail">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <mat-table #table [dataSource]="dataSourceDetail" matSort>
      <ng-container matColumnDef="saleTarget">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sales Target </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.saleTarget }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actual">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Actual </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.actual }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="percent">
        <th mat-header-cell *matHeaderCellDef width ="80px"> % Target </th>
        <td mat-cell *matCellDef="let element" width ="80px">
          {{ element.percent }}
        </td>
      </ng-container>

      <ng-container matColumnDef="outlet">
        <th mat-header-cell *matHeaderCellDef width ="20%"> Outlet/SuperMarket </th>
        <td mat-cell *matCellDef="let element" width ="20%">
          {{ element.outlet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.group}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reach">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reach
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.reach}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="buyer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Buyers </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.buyer}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.createdAt}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="justify-content-end">Action</mat-header-cell>
        <mat-cell *matCellDef="let element;" class="justify-content-end">
          <ng-container>
            <button mat-icon-button color="primary" title="update sale report" (click)="modify(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteItem(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  
</div>

