<h2 mat-dialog-title>{{title}}</h2>
<form class="example-form" [formGroup]="pgManagementForm" (submit)="createPg()">
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="pgManagementForm.controls['name'].hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" cdkFocusInitial>{{buttonTitle}}</button>
  </mat-dialog-actions>
</form>