<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">
      Working Schedule
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <app-button-action
          (onAdd)="createPg()"
          (onExport)="export()"
          [exporting]="exporting"
          [disableExporting]="loading || exporting"
        ></app-button-action>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <app-filter (onFilterData)="onFilterData($event)"></app-filter>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NNA Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.username }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NNA Fullname </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.user }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="outlet">
        <mat-header-cell *matHeaderCellDef mat-sort-header> OutletName</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.outlet }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.startDate }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.endDate }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="justify-content-end">Action</mat-header-cell>
        <mat-cell *matCellDef="let element" class="justify-content-end">
          <ng-container>
            <button mat-icon-button color="primary" (click)="modifyPg(element.id)">
              <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deletePg(element.id)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [pageSize]="filter.pageSize"
    [pageIndex]="filter.page" (page)="onPageChange($event)">

    </mat-paginator>
  </div>
</div>